.dark{
    background-color:rgb(10, 51, 41);
    width: 40px; height: 40px;
}
.light{
    background-color:rgb(151, 129, 100); 
    width: 40px; height: 40px;
}
.table{
    width: 40%;
    height: 80%;
    border: 1px solid black;
}
.th{
    height: 50%;
    width: 50%;
}



